:root {

    --palette-cinza-claro: #dbd8e3;
    --palette-cinza: #5c5470;
    --palette-cinza2: #797585;
    --palette-cinza-escuro: #352f44;
    --palette-preto: #2a2438;

    /* --cinza: #9c9c9c; */
    --cinza-claro: #dddcdc;
    --branco: #FFFFFF;
    --preto: #000000;

    --verde-concluir: #14cc3cd8;
    --vermelho-deletar: #ff0000bd;

}

.listagem-tarefas {

}

.listagem-tarefas__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--palette-cinza);
    padding: 0 0.3em;
    margin: 2px 0;
}

.listagem-tarefas__nome-tarefa {
    font-weight: 600;
}

.tarefa-concluida {
    text-decoration: line-through;
    background-color: var(--palette-cinza2);
    font-weight: 400;
}

.listagem-tarefas__botoes > button {
    padding: 2px 10px;
    color: var(--branco);
    border: 0px solid var(--branco);
}

#input-nova-tarefa {
    padding: 2px 10px;
}

#btn-incluir-tarefa {
    margin: 5px 0;
    border: none;
    padding: 2px 10px;
    font-weight: 600;
    background-color: var(--palette-cinza);
    color: var(--branco);
}

#btn-incluir-tarefa:hover {
    background-color: var(--palette-cinza2);
}

.btn-concluir {
    font-weight: 600;
    background-color: var(--verde-concluir);
}

.btn-concluir:hover {
    background-color: var(--branco);
    color: var(--verde-concluir);
}

.btn-deletar {
    font-weight: 600;
    background-color: var(--vermelho-deletar);
}

.btn-deletar:hover {
    background-color: var(--branco);
    color: var(--vermelho-deletar);
}
