:root {
    --fonte-principal: "Poppins", sans-serif;

    --palette-cinza-claro: #dbd8e3;
    --palette-cinza: #5c5470;
    --palette-cinza-escuro: #352f44;
    --palette-preto: #2a2438;

    --branco: #FFFFFF;
    --preto: #000000;

    --verde-claro: #53e953;
    --azul: #4446ec;
    --vermelho-claro: #ec4949;
}

.menu-titulo > a {
    text-decoration: none;
}

.menu-titulo > a:hover {
    text-decoration: underline;
    text-decoration-color: var(--branco);
}

.section-login {
    font-weight: 600;
}

.dados-login {
    font-weight: 400;
}

input {
    width: 200px;
}

input::placeholder {
    font-weight: 600;
}

input:focus {
    outline: none;
}

#btn-logar {
    margin: 1em 0;
    padding: 3px 2em;
    font-weight: 600;
    color: var(--palette-cinza-escuro);
}

#btn-logar:hover {
    color: var(--preto);
    background-color: var(--branco);
    border-color: var(--preto);
}

#msg-login {
    display: none;
}

.error {
    color: var(--vermelho-claro)
}
.sucesso {
    color: var(--azul);
}
