:root {
    --fonte-principal: "Poppins", sans-serif;
    --cinza: #9c9c9c;
    --cinza-claro: #dddcdc;
    --cinza-escuro: #5e5e5e;
    --branco: #FFFFFF;
    --preto: #000000;
    --verde-claro: #53e953;
    --vermelho-claro: #ec4949;
}

.menu-titulo > a {
    text-decoration: none;
}

.menu-titulo > a:hover {
    text-decoration: underline;
    text-decoration-color: var(--branco);
}

.section-login {
    font-weight: 600;
}

input {
    width: 200px;
}

input::placeholder {
    font-weight: 600;
}

input:focus {
    outline: none;
}

#btn-logar {
    margin: 1em 0;
    padding: 3px 2em;
    font-weight: 600;
    color: var(--cinza-escuro);
}

#btn-logar:hover {
    color: var(--preto);
    background-color: var(--branco);
    border-color: var(--preto);
}

#msg-login {
    display: none;
}

.error {
    color: var(--vermelho-claro)
}
.sucesso {
    color: var(--verde-claro);
}
