:root {
    --fonte-principal: "Poppins", sans-serif;
    --cinza: #9c9c9c;
    --cinza-claro: #dddcdc;
    --branco: #FFFFFF;
    --preto: #000000;
}

* {
    margin: 0 auto;
    padding: 0;
    font-family: var(--fonte-principal);
    font-style: normal;
}

body {
    background-color: var(--cinza);
    color: var(--branco);
}

.menu-titulo {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.menu-titulo__titulo {
    color: var(--cinza-claro);
    text-transform: uppercase;
    word-spacing: 5px;
}

.menu-titulo__simbolos {
    display: flex;
    flex-direction: row;
}

.menu-titulo__simbolos > img {
    width: 3em;
    padding: 0 10px;
}

.section {
    padding: 0 5em;
}

.section > h2:hover,
.section > p:hover {
    color: var(--branco);
}

.rodape {
    color: var(--cinza-claro);
    display: flex;
}

.rodape:hover {
    color: var(--preto);
}

.rodape__titulo > img {
    width: 0.8em;
    text-align: center;
    justify-content: center;
}
