:root {
    --fonte-principal: "Poppins", sans-serif;

    --palette-cinza-claro: #dbd8e3;
    --palette-cinza: #5c5470;
    --palette-cinza-escuro: #352f44;
    --palette-preto: #2a2438;

    /* --cinza: #9c9c9c; */
    --cinza-claro: #dddcdc;
    --branco: #FFFFFF;
    --preto: #000000;
}

* {
    margin: 0 auto;
    padding: 0;
    font-family: var(--fonte-principal);
    font-style: normal;
}

body {
    background-color: var(--palette-cinza-claro);
    color: var(--palette-preto);
}

.menu-titulo {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: var(--palette-cinza);
}

.menu-titulo__titulo {
    color: var(--palette-cinza-claro);
    text-transform: uppercase;
    word-spacing: 5px;
}

.menu-titulo__simbolos {
    display: flex;
    flex-direction: row;
}

.menu-titulo__simbolos > img {
    width: 3em;
    padding: 0 10px;
}

.section {
    padding: 0 5em;
}

.projeto-status-em-andamento {
    text-decoration: line-through;
}

.rodape {
    color: var(--palette-cinza-claro);
    background-color: var(--palette-cinza);
    display: flex;
}

.rodape__titulo > img {
    width: 0.8em;
    text-align: center;
    justify-content: center;
}
